# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs
*.log

# Runtime files
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/

# Playwright
playwright-report/
test-results/
blob-report/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Misc
.tmp/
.cache/
